# Python cache
__pycache__/
*.pyc

# Build artifacts
build/
dist/
*.egg-info/

# Compiled Cython files
*.so

# User-generated data and output
/dev/profiler/graph_data/*
/dev/output/*

*:Zone.Identifier
.DS_Store
*.Identifier
